GOOGLE_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxx
GOOGLE_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxx
GOOGLE_REDIRECT_URI=http://localhost:8081/auth/callback

GITHUB_CLIENT_ID=xxxxxxxxxxxxxxxxxxx
GITHUB_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxx
GITHUB_REDIRECT_URI=http://localhost:8081/auth/github/callback

PORT=8081
NODE_ENV=development
SESSION_SECRET=xxxxxxxxxxxxxxxxx

DEFAULT_TASK_LIST=GitTasks
